* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #f5f5f5;
    font-family: Roboto, sans-serif;
    display: grid;
    place-items: center;
}

canvas {
    border: 1.5px solid #4682b4;
    border-top: 0;
}

.toolbox {
    width: 60vw;
    height: 16vh;
    background-color: #4682b4;
    display: flex;
    align-items: center;
    padding-inline: 1em;
}

.toolbox> * {
    background-color: #fff;
    border: none;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    height: 50px;
    width: 50px;
    margin: 0.25rem;
    padding: 0.25rem;
    cursor: pointer;
}


#clear {
    margin-left: auto;
}

@media (width < 765px) {
    .toolbox{
        width: 90vw;
    }
}