*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #A164DF;
}

.container{
    width: 100vw;
    height: 100vh;
    display: grid;
    place-items: center;
}

#buttons{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding-inline: 20px;
}

#buttons button{
    background-color: rebeccapurple;
    color: #ffffff;
    border: 0;
    padding: 25px 50px;
    border-radius: 10px;
    font-size: 20px;
    cursor: pointer;
}

#buttons button:hover{
    background-color: rgba(102, 51, 153, 0.861);
}

audio{
    display: none !important;
}